*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    width:100%;
    
}

.container{
    padding:0;
    margin:0;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
}
.gradDynamic{
    position: relative;

}

.gradDynamic:after, .gradDynamic:before{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    content:"";
    z-index:-1;
}

.gradDynamic:after{
    background: radial-gradient(circle, red, transparent);
    background-size: 400%;
    animation: colorSpin 30s linear infinite;
}

.gradDynamic:before{
    background-color: yellow;
}

@keyframes colorSpin{
    25%{background-position: 0 100%}
    50%{background-position: 100% 100%}
    75%{background-position: 100% 0}
    100%{filter:hue-rotate(360deg)}
}

body, 
input{
    font: 1em sans-serif;
    color: darkslategray;
}

a{
    text-decoration: none;
    border-bottom: 1px dashed red;
}

/* List */

.list{
    background-color: white;
    margin:auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-sizing:border-box;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2)
}

.list .header{
    display:grid;
    font-family: 'Montserrat', sans-serif;;
    justify-content: center;
    margin: 0 0 10px 0;
    padding: 10px;
}

/* Items */

.items{
    margin:0;
    padding: 0;
    list-style-type: none;
}

a.done-button:hover{
    opacity: 1;
}

.items .item.done{
    text-decoration: line-through;
    display: inline;
}

.items li,
.item-add .input{
border:0;
border-bottom: 1px dashed #ccc;
padding: 15px 0;
}

input{
    width: 100%;;
}

.input:focus{
    outline: none;
}

/* Done button */

.items .done-button{
    display: inline-block;
    font-size: .8em;
    background-color: #d9dfe1;
    color: #363639;
    padding: 3px 6px;
    border:0;
    opacity: 0.4;
}

/* Submit button*/

.submit{
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;

    box-shadow: 3px 3px 0 #ddd
}

